@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Brett’s Auto Parts is an online auto parts retailer. The company sells auto parts for all major car brands. They are a smaller retailer that competes with large resellers such as Advanced Auto Parts and Autozone. Brett’s is able to compete with these stores because Brett’s Auto Parts only sell online and do not have the large overhead other retailers have because of their physical stores. Brett’s store also has an advantage over other retailers because of their vast selection of all parts from unique bolts to tires. They have set a goal to continually expand and eventually become the leader in online auto parts sales.</p>
